@font-face {
  font-family: 'nabla';
  src: url('levels/fonts/nabla-regular-variable-font.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('img_pollo_locco/img/5_background/layers/background-mesico.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'nabla', Arial, Helvetica, sans-serif;
}

h1 {
  display: block;
  position: relative;
  top: 0;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
}

canvas {
  background-color: black;
  display: block;
  width: 720px;
  height: 480px;
}

#titleCanvas {
  background-color: black;
  display: block;
  width: 720px;
  height: 100px;
}

#fullscreen-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fullscreen-btn:hover {
  background-color: #0056b3;
}

/* Smartphones */
@media only screen and (max-width: 760px) {
  h1 {
      font-size: 40px;
  }

  canvas {
      width: 100%;
  }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
  h1 {
      font-size: 24px;
      display: none;
  }

  canvas {
      height: 100vh;
  }
}

/*_________________________ START SCREEN _________________________*/

.start-screen {
  width: 720px;
  height: 480px;
  position: absolute;
  z-index: 2;
  background-image: url(img_pollo_locco/img/9_intro_outro_screens/start/startscreen_1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
}

.menu {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Align items vertically */
  width: 100%; /* Take full width */
  padding-top: 20px; /* Add some padding to the top */
}

.button-99 {
  background-color: orange;
  border: 3px solid aqua;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 10px; /* Add horizontal margin between buttons */
  font-family: 'nabla', Arial, Helvetica, sans-serif;
}

.button-99:hover {
  background-color: darkorange;
}

/* Style für die anderen Screens */
.controls-screen,
.settings-screen,
.story-container,
.end-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: none;
  z-index: 3;
  width: 720px;
  height: 480px;
}

.fs-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.controls-container img {
  margin: 0 10px;
}
