@font-face {
  font-family: 'nabla';
  src: 
       url('levels/fonts/nabla-regular-variable-font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('img_pollo_locco/img/5_background/layers/background-mesico.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'nabla', Arial, Helvetica, sans-serif;
}

h1 {
  display: block;
  position: relative;
  top:0;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
}

canvas {
  background-color: black;
  display: block;
    width: 100%;
  height: 100%; 
}

#fullscreen-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fullscreen-btn:hover {
  background-color: #0056b3;
}

/* Smartphones */
@media only screen and (max-width: 760px) {
  h1 {
    font-size: 40px;
  }
  canvas {
    width: 100%;
  }
}

  /* Smartphones */
@media only screen and (max-height: 480px) {
  h1 {
    font-size: 24px;
    display: none;
  }
  canvas {
    height: 100vh;
  }
}

/*_________________________ START SCREEN _________________________*/

.start-screen {
  height: 480px;
  width: 720px;
  position: absolute;
  z-index: 2;
  background-image: url(img_pollo_locco/img/9_intro_outro_screens/start/startscreen_1.png) 0% 0% / 100% 100% no-repeat;
}

#start-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;  
  height: 480px; 
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10; 
}


#start-btn img {
  width: 200px; 
  height: auto;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
